{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Home page
{% endblock %}

{# ----------------------------------------#}
{% block indexNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}

    <div id="mainPage">

    <h3>Welcome<h3>

            <p>
                Taekwon-Do is a Korean martial art that combines self-defence and combat, sport, exercise, as well as a code of conduct and philosophy.
                <br>We welcome people of all ages to our club and invite you to come along to try out Taekwon-Do for yourself.
                <br>It is a great opportunity to meet people, make new friends, improve both physical and mental health and learn practical self-defence skills.
                <br>Details of our class times and location can be found on this website. We look forward to training with you.History of the School
            </p>
            <p>
                Maynooth Taekwon-Do School was established under the instruction of Mr. Gareth Curran (IV).
                <br>The club is a member of the Irish National Taekwon-Do Association (INTA), which is affiliated to both the International Taekwon-Do Federation
                <br>(ITF) and the All European Taekwon-Do Federation (AETF). We are also members of the Irish Taekwon-Do Union (ITU),
                <br>the Irish Sports Council (ISC) and the Olympic Council of Ireland (OCI), allowing our members to partake in the selection process for the
                <br>Irish national team and the opportunity to compete at Olympic level.Since opening, Maynooth Taekwon-Do School has gone
                <br>from strength to strength and continues to do so thanks to the dedication of our members and the strong reputation we are building in the local community.
                <br>Our students not only thrive at a local and national level but have also competed very successfully on the international stage and we look forward to this continued success in the future.
            </p>
    </div>
            {% endblock %}
