{% extends '_base.html.twig' %}

{% block listLinkStyle %}current_page{% endblock %}

{% block main %}

    <h1>New Student Form</h1>

    <form action="/createNewModule" method="post">
    <h1>Create New Module</h1>
    <h2>Username</h2>
    <p><input type="text" name="username"></p>
    <h2>Last Grade Achieved</h2>
    <p><input type="text" name="lastGrade"></p>
    <h2>Password</h2>
    <p><input type="password" name="password"></p>
    <h2>Date joined</h2>
    <p><input type="date" name="dateJoined"></p>
    <h2>Current Grade working on</h2>
    <p><input type="text" name="currentGrade"></p>
    <input type="submit" value="Create new module">
    </form>


{% endblock %}