{% extends '_base.html.twig' %}

{% block title %}Registration Success{% endblock %}

{% block main %}

    <h1>Congradulations the user has been added sucessfully</h1>
    <hr>
    <p>
        <a href="/admin">Back to admin page</a>
    </p>
    <br>
    <p>
        <a href="/members">To login as new user</a>
    </p>

{% endblock %}